* {
    margin: 0;
    padding:0;
}

body{
    margin: 0;
    padding: 0;
    background-image: url("https://media1.tenor.com/m/wCrZqAL1cWMAAAAd/spinning-fish.gif");
    overflow: auto;
    background-color: rgb(255, 166, 0);
    z-index: 9;   
}

h1{
    width: 50%;
    text-align: center;
    position: relative;
    top: 40px; 
    border: 2px solid red;
    padding: 10px;
    margin: 10px auto;
    color: black;
}
button {
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    backdrop-filter: blur(6px);
    background:rgba(255,255,255,0.2);
    cursor: pointer;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 4rem auto; 
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  box-shadow: 0 2px 20px rgba(0,0,0,0.2);
  border-radius: 8px;
  z-index: 10;
  backdrop-filter: blur(6px);
  background: rgba(255,255,255,0.2);
}

.h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.bio {
    text-align: center;
    margin: 0;
    padding: 0;
}